.profile__info {
  max-width: calc(100% - 300px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 0;
  column-gap: 18px;
}


@media screen and (max-width: 670px) {
  .profile__info {
    margin: 26px auto 36px;
    justify-content: center;
    max-width: 254px;
    column-gap: 10px;
  }
}
