.element__container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  max-width: 246px;
  align-items: center;
  height: 72px;
  padding: 0 20px;
  border-radius: 0 0 10px 10px;
}
