.profile__add-button {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
  background-image: url('../../../images/plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-size: 22px 22px;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 670px) {
  .profile__add-button {
    margin: 0 auto;
    background-size: 16px;
    width: 282px;
  }
}
